@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
h1 {
  font-weight: 700;
  font-size: 3.5em;
  text-align: center;
}

.form input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1.4em;
}

.btn {
  display: block;
  margin: 1em auto;
  border-radius: 40px;
  border: 1px solid #ff4b2b;
  background: #ff4b2b;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.8em 2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  transform: scale(0.95);
}
.btn:focus {
  outline: none;
}
.container {
  width: 95%;
  max-width: 800px;
  height: 500px;
  /* position: relative; */
  border-radius: 20px;
  box-shadow: 0 14px 28px -10px rgba(0, 0, 0, 0.1),
    0 10px 10px -10px rgba(0, 0, 0, 0.02);
  transform-style: preserve-3d;
  background: #fafafa;
  border-radius: 20px 0 0 20px;
}
.content {
  padding: 2em 4em;
  text-align: center;
}
.content p {
  font-size: 1.4em;
}

.login button {
  border-radius: 0px;
  width: 100%;
}

.register button {
  border-radius: 0px;
  width: 100%;
}
